# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Build output
/dist
/out
/.next
packages/web/.next/cache/
packages/web/.next/static/webpack/
packages/api/dist/
packages/web/.next/

# Production
/build

# Misc
.DS_Store
*.pem

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env*
!/.env.example

# Prisma
/prisma/dev.db